Имеется следующий словарь с данными о студентах. Вам предлагается выполнить ряд заданий.

In [15]:
dict_to_df = {'student_fio': ['Иванов', 'Петров', 'Сидорова', 'Волкова', 'Сотников'],
              'name': ['Сергей', 'Николай', 'Ольга', 'Полина', 'Илья'],
              'gender' : ['M', 'M', 'F', 'F', 'M'],
              'age' : [23, 23, 24, 25, 36],
              'curs' : [1,2,2,4,4]}

Задание 1. На базе данного словаря создайте датафрейм со значениями индекса `a`, `b`, `c`, `d` и `e`.

In [16]:
#Ваш код здесь
#Вывод датафрейма по его имени 
import pandas as pd
df = pd.DataFrame(dict_to_df, index = ['a', 'b', 'c', 'd', 'e'])
df

  student_fio     name gender  age  curs
a      Иванов   Сергей      M   23     1
b      Петров  Николай      M   23     2
c    Сидорова    Ольга      F   24     2
d     Волкова   Полина      F   25     4
e    Сотников     Илья      M   36     4

Задание 2. С использованием методов `head()`, `tail()`, `sample()` и `take()` получите:
1. Две любые случайные строки датафрейма;
2. Первые две строки датафрейма;
3. Последние две строки датафрейма;
4. Строки датафрейма с номерами позиций 3 и 4.

In [19]:
# Две любые случайные строки датафрейма;
df.sample(2)

  student_fio     name gender  age  curs
b      Петров  Николай      M   23     2
d     Волкова   Полина      F   25     4

In [18]:
# Первые две строки датафрейма;
df.head(2)

  student_fio     name gender  age  curs
a      Иванов   Сергей      M   23     1
b      Петров  Николай      M   23     2

In [12]:
# Последние две строки датафрейма;
df.tail(2)

  student_fio    name gender  age  curs
d     Волкова  Полина      F   25     4
e    Сотников    Илья      M   36     4

In [24]:
# Строки датафрейма с номерами позиций 3 и 4
df.take([3, 4])

  student_fio    name gender  age  curs
d     Волкова  Полина      F   25     4
e    Сотников    Илья      M   36     4

Задание 3. С использованием метода `print()` и приемами форматирования строк  выведите количество строк и столбцов датафрейма.

In [14]:
#Ваш код здесь
print('В датафрейме {} строк и {} столбцов'. format (df.shape[0], df.shape[1])) 
#Результат вывода должен быть таким:
#В датафрейме 5 строк и 5 столбцов

В датафрейме 5 строк и 4 столбцов

Задание 4. Получите информацию о типах данных признаков датафрейма

In [51]:
#Ваш код здесь
df.dtypes

student_fio    object
name           object
gender         object
age             int64
curs            int64
dtype: object

Задание 5. Какие и сколько уникальных значений принимает признак `gender`. Вывод оформите с помощью метода `print()`.

In [86]:
#Ваш код здесь
print('признак gender принимает {} уникальных знечения, а именно {}'. format(len(df.gender.unique()), df.gender.unique()))

признак gender принимает 2 уникальных знечения, а именно ['M' 'F']

Задание 6. Выведите данные столбцов `student_fio` и `name`.

In [90]:
#Ваш код здесь
dfn = df[['student_fio', 'name']]
dfn

  student_fio     name
a      Иванов   Сергей
b      Петров  Николай
c    Сидорова    Ольга
d     Волкова   Полина
e    Сотников     Илья

Задание 7. Используя логические выражения, получите ответы на следующие вопросы:
1. Сколько в исходном датафрейме юношей;
2. Сколько девушек учится на 2-м курсе;
3. Какой процент от общего числа составляют студенты 2-го курса; 
4. Выведите только фамилии юношей, обучающихся на 2-м и 4-м курсах. 

Ответы оформляйте с помощью метода `print()` и элементов форматирования строк.

In [20]:
#Ваш код здесь

Задание 8. С использованием свойств `.loc[]` и `.iloc[]` сформируйте датафреймы, состоящие из строк с метками индекса `b`, `c` и `d`, а также столбцами `student_fio` и `name`. Для формирования датафреймов используйте оба свойства.

In [110]:
#Ваш код здесь
dfm = df[['student_fio', 'name']]
display (dfm.iloc[1:4])
display (dfm.loc[['b','c','d']])

  student_fio     name
b      Петров  Николай
c    Сидорова    Ольга
d     Волкова   Полина

  student_fio     name
b      Петров  Николай
c    Сидорова    Ольга
d     Волкова   Полина